<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Folio - Blog Singlee</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="assets/ionicons.min.css" rel="stylesheet">
  <link href="assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/magnific-poApup.css" rel="stylesheet">
  <link href="assets/hover.min.css" rel="stylesheet">

  <!-- Blog Stylesheet File -->
  <link href="assets/blog.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="assets/style.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="assets/responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/favicon.png">

  <!-- =======================================================
    Theme Name: Folio
    Theme URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <!-- start section navbar -->
  <nav id="main-nav-subpage" class="subpage-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="/index"><img src="assets/logo.jpg" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="#home" class="smoothScroll">Home</a></li>
          <li><a href="#about" class="smoothScroll">About</a></li>
          <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
          <li><a href="#blog" class="smoothScroll">Blog</a></li>
          <li><a href="#contact" class="smoothScroll">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- End section navbar -->
  <!-- start section main content -->
  <div class="main-content paddsection">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="container-main single-main">
              <div class="col-md-12">
                <div class="block-main mb-30">
                  
                  <div class="content-main single-post padDiv">
                    <div class="journal-txt">
                      <h4><a href="/blog-single-1">대외 활동</a></h4>
                    </div>
                    <div class="post-meta">
                      <ul class="list-unstyled mb-0">
                        <li class="author">'#StartUp'에서 제공하는<a href="/blog-single-1">대외활동의 모든 것</a></li>
                        <li class="date">가장 빠른 정보를<a href="/blog-single-1">제공해드립니다!</a></li>
                        
                      </ul>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="comments text-left padDiv mb-30">
                  <div class="entry-comments">
                    <h6 class="mb-30">4 comments</h6>
                    <ul class="entry-comments-list list-unstyled">
                      <li>
                        <div class="entry-comments-item">
                          <img src="assets/avatar.jpg" class="entry-comments-avatar" alt="">
                          <div class="entry-comments-body">
                            <span class="entry-comments-author">Paul Craddock</span>
                            <span><a href="/blog-single-1">may 14, 2018 at 12:59 am</a></span>
                            <p class="mb-10">I wanna experience many kinds of contests!</p>
                            <a class="rep" href="/blog-single-1">Reply</a>
                          </div>
                        </div>
                        <ul class="entry-comments-reply list-unstyled">
                          <li>
                            <div class="entry-comments-item">
                              <img src="assets/avatar-2.jpg" class="entry-comments-avatar" alt="">
                              <div class="entry-comments-body">
                                <span class="entry-comments-author">Sara Smith</span>
                                <span><a href="/blog-single-1">may 22, 2018 at 21:17 pm</a></span>
                                <p class="mb-10">I'm ready to do anything~ I curious about my ability!</p>
                                <a class="rep" href="/blog-single-1">Reply</a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div class="entry-comments-item">
                          <img src="assets/avatar-3.jpg" class="entry-comments-avatar" alt="">
                          <div class="entry-comments-body">
                            <span class="entry-comments-author">Haein Jung</span>
                            <span><a href="/blog-single-1">may 27, 2018 at 08:33 am</a></span>
                            <p class="mb-10">What kind of informations can I get in hear? </p>
                            <a class="rep" href="/blog-single-1">Reply</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="cmt padDiv">
                  <form id="comment-form" method="post" action="" role="form">
                    <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <input id="form_name" type="text" name="name" class="form-control" placeholder="Name *" required="required">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <input id="form_email" type="email" name="email" class="form-control" placeholder="email *" required="required">
                          </div>
                        </div>
                        
                        <div class="col-lg-12">
                          <div class="form-group">
                            <textarea id="form_message" name="message" class="form-control" placeholder="Message *" style="height: 200px;" required="required"></textarea>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <input type="submit" class="btn btn-default btn-send" value="Send message">
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  </div> -->
  <!-- start section main content -->

  <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><i class="assets/ion-social-facebook"></i></li>
          <li><i class="assets/ion-social-twitter"></i></li>
          <li><i class="assets/ion-social-instagram"></i></li>
          <li><i class="assets/ion-social-googleplus"></i></li>
          <li><i class="assets/ion-social-tumblr"></i></li>
          <li><i class="assets/ion-social-dribbble"></i></li>
        </ul>

      </div>

      <p>&copy; Copyrights Folio. All rights reserved.</p>

      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </div>
  <!-- End section footer -->

  <!-- JavaScript Libraries -->
  <script src="assets/jquery.min.js"></script>
  <script src="assets/jquery-migrate.min.js"></script>
  <script src="assets/bootstrap.bundle.min.js"></script>
  <script src="assets/typed.js"></script>
  <script src="assets/owl.carousel.min.js"></script>
  <script src="assets/magnific-popup.min.js"></script>
  <script src="assets/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="assets/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="assets/main.js"></script>

</body>

</html>
