<!DOCTYPE html>
<html lang="en">
<body>

  <!-- start section navbar -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">
  
        <div class="logo">
          <a href="/index"><img src="assets/logo.jpg" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="#header" class="smoothScroll">Home</a></li>
          <li><a href="#about" class="smoothScroll">About</a></li>
          <li><a href="#journal" class="smoothScroll">Recruiting</a></li>
          <li><a href="#portfolio" class="smoothScroll">Contest</a></li>
          <li><a href="#portfolio2" class="smoothScroll">Participation</a></li>
          <li><a href="#contact" class="smoothScroll">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End section navbar -->


  <!-- start section header -->
  <div id="header" class="home">

    <div class="container">
      <div class="header-content">
        <h1>I'm <span class="typed"></span></h1>
        <p>with #STARTUP</p>

      </div>
    </div>
  </div>
  <!-- End section header -->


  <!-- start section about us -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="assets/networking.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr"

            <p class="p-heading" style="font-family:NanumPen"><font color = "black" size = "6"> 꿈을 함께할 인원을 구합니다 In #startup</font></p>
            <p class="separator" style="font-family:NanumPen"><font color = "black" size = "2.5"> #startup은 함께 살아갈 열정인들을 위한 공간입니다.<br>각 분야에서 인정받는 전문가들과 함께 동고동락하는 가족이 되어보세요!<br><br>
            1. 스타트업 인원 구성 매칭 서비스 <br> 개발자, 디자이너 등 함께 사업을 진행할 맴버를 찾아볼 수 있습니다. <br><br>
            2. 구직 기회 제공 서비스 <br> 각 분야의 전문가들은 자신만의 포트폴리오롤 제시하고 구직 기회를 잡을 수 있습니다.<br><br>
            3. 각 종 콘테스트 정보 공유 서비스 <br> 이달의 공모전, 정부지원 등 여러분의 사업에 도움이 될 수 있는 각 종 정보들을 공유할 수 있습니다.<br><br>
            4. 커뮤니티 서비스 <br> 오늘날의 스타트업 생태계를 이끌어 가는 주역들인 여러분들이 함께 만날 수 있는 기회를 제공합니다.</p></font>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end section about us -->


  <!-- start section services -->
  <div id="services">
    <div class="container">

        <div class="services-carousel owl-theme">

          <div class="services-block">
            <span>Jeong D.Y</span>
            <p class="separator">Role : director , Age : 22<br>Phone : 010-4618-2193<br> E-mail : jungdh618@likelion.org</p>

          </div>

          <div class="services-block">
            <span>Lee H.Y </span>
            <p class="separator">Role : designer , Age : 26<br>Phone : 010-3575-0348<br> E-mail : cuty3087@likelion.org </p>

          </div>

          <div class="services-block">
            <span>Ahn S.Y</span>
            <p class="separator">Role : programmer , Age : 22<br>Phone : 010-3217-2578<br> E-mail : rich1219@likelion.org </p>

          </div>

          <div class="services-block">
            <span>Keum H.W</span>
            <p class="separator">Role : programmer , Age : 22<br>Phone : 010-3634-7991<br> E-mail : akzol@likelion.org </p>

          </div>

          <div class="services-block">

            <span>Like Lion</span>
            <p class="separator">Representative : Lee D.H<br> Slogan : Hack your life <br> Foundation day :2013</p>

          </div>

          <div class="services-block">
            <span>kangNam Univ</span>
            <p class="separator">Location : Yong-In Giheung-gu<br>Number : 031-280-3500<br>URL : http://www.kangnam.ac.kr</p>

          </div>

        </div>

    </div>

  </div>
  <!-- end section services -->

  <!-- start section journal -->
  <div id="journal" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h1>멤버 모집</h1>
      </div>
    </div>

    <div class="container">
      <div class="journal-block">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="/posts"><img src="assets/programmer.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="/posts">PROGRAMMER</a></h4>
           
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="/postnew2s"><img src="assets/designer.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="/postnew2s">DESIGNER</a></h4>
               

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="/postnew3s"><img src="assets/photographer.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="/postnew3s">PHOTOGRAPHER</a></h4>
               

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="journal-block">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="/postnew4s"><img src="assets/analyst.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="/postnew4s">ANALYST</a></h4>
              

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="/post5s"><img src="assets/marketer.png" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="/post5s">MARKETER</a></h4>
              

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="/post6s"><img src="assets/salesman.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="/post6s">SALES-MAN</a></h4>
               

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- End section journal -->
  
    <!-- start section portfolio -->
  <div id="portfolio" class="text-center paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h1>이달의 콘테스트</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="portfolio-list">
            
            <ul class="nav list-unstyled" id="portfolio-flters">
              <li class="filter filter-active" data-filter=".all">all</li>
              <li class="filter" data-filter=".programer">May</li>
              <li class="filter" data-filter=".designer">June</li>
            </ul>

          </div>
          <br>
          <div class="portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all programer ">
                <a class="popup-img" href="assets/portfolio/1.jpg">
              <img src="assets/portfolio/1.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all programer">
              <a class="popup-img" href="assets/portfolio/2.png">
                <img src="assets/portfolio/2.png"  alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all programer ">
              <a class="popup-img" href="assets/portfolio/3.jpg">
                <img src="assets/portfolio/3.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all designer">
              <a class="popup-img" href="assets/portfolio/4.jpg">
                <img src="assets/portfolio/4.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all designer">
              <a class="popup-img" href="assets/portfolio/5.jpg">
                <img src="assets/portfolio/5.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all designer">
              <a class="popup-img" href="assets/portfolio/6.png">
                <img src="assets/portfolio/6.png" alt="img">
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End section portfolio -->
  
  <!-- start section journal -->
  <div id="portfolio2" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h1>참여 프로그램</h1>
      </div>
    </div>

    <div class="container">
      <div class="journal-block">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="/post7s"><img src="assets/ContestsA.png" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="/post7">공모전 부문</a></h4>
                <p class="separator">관심있는 공모전에 도전해보세요!</p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="/post8s"><img src="assets/Extracurricular-activitiesA.png" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="/post8s">대외 활동 부문</a></h4>
                <p class="separator">스타트업에 한발짝 더 나아가기 위해<br>대외 활동에 도전해보세요!</p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="/post9s"><img src="assets/Government-supportsA.png" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="/post9s">정부 지원 부문</a></h4>
                <p class="separator">꿈을 펼치기 위한 투자를 받아보세요!</p>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    

  </div>
  <!-- End section journal -->

  <!-- start sectoion contact -->
  <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="row">

          <div class="col-lg-6">
            <div class="contact-contact">

              <h2 class="mb-30">GET IN TOUCH</h2>

              <ul class="contact-details">
                <li><span><a href="https://likelion.net">LIKELION</a></span></li>
                <li><span><a href="http://web.kangnam.ac.kr">KANGNAM UNIVERSITY</a></span></li>
              </ul>
            </div>
          </div>

         <li>
          <%if user_signed_in?%>
          <%=current_user.name%>
          <button><%=link_to '로그아웃', destroy_user_session_path, method: 'delete'%></button>
          <%else%>
           <button><%=link_to '회원가입', new_user_registration_path%></button>
           <button><%=link_to '로그인', new_user_session_path%></button>
          <%end%>
          </li>

               

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- start sectoion contact -->


  <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">
      <p>&copy; Copyrights #startUp. All rights reserved.</p>

      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
        -->
        Designed by <a href="#about"> 새싹</a>
      </div>

    </div>
  </div>
  <!-- End section footer -->

</body>
</html>
